<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link herf="/css/bootstrap.css" rel="stylesheet" />
    <title>OurCompanyProduct</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/home/products">Products</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Contacts</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="card"
            <div class="card-header"><h1>Corporate Headerquarters</h1></div>
            <div class="card-body">
                <p>TrollFree:@ViewBag.TollFreeNumber</p>
                <p>Fax:</p>
                <p>Phone Number:1569230475</p>
                <p>Email: Office12@gmail.com</p>
            </div>

    </div>
</body>
</html>